*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}


/* 
.quicksand-p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-style: normal;
} */

p{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: italic;
}